code {
  font-family: $mono-font;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt" 1;
  font-size: $code-font-size;
  overflow: auto;
  white-space: pre-wrap;

  @media print {
    white-space: pre-wrap;
  }
}

div.highlight {
  overflow: auto;

  pre {
    padding: 5px 10px;
    @if $code-bg-color {
      background-color: $code-bg-color !important;
    }
  }
}
