$background: rgba( $main-color, .13 );

div.sourceCode {
    margin:           1em 0;
    padding:          5px 10px;
    overflow:         auto;
    background-color: $background;
}

a.sourceLine {
    display:         inline-block;
    line-height:     1.25;
    pointer-events:  none;
    color:           inherit;
    text-decoration: inherit;
    
    &:empty {
        height:   1.2em;
        position: absolute;
    }
    
    &::before {
        text-decoration: underline;
    }
}

pre.sourceCode {
    margin: 0;
}

pre.numberSource {
    margin-left:  3em;
    border-left:  1px solid #aaaaaa;
    padding-left: 4px;
    
    a.sourceLine {
        position: relative;
        @media print {
            text-indent:  -1em;
            padding-left: 1em;
        }
        
        &:empty {
            position: absolute;
        }
        
        &::before {
            content:               attr(data-line-number);
            position:              absolute;
            left:                  -5em;
            text-align:            right;
            vertical-align:        baseline;
            border:                none;
            pointer-events:        all;
            -webkit-touch-callout: none;
            -webkit-user-select:   none;
            -khtml-user-select:    none;
            -moz-user-select:      none;
            -ms-user-select:       none;
            user-select:           none;
            padding:               0 4px;
            width:                 4em;
            color:                 #aaaaaa;
        }
    }
}

code {
    font-family:            $mono-font;
    font-variant-ligatures: contextual;
    font-feature-settings:  "calt" 1;
    font-size:              $code-font-size;
    overflow:               auto;
    white-space:            pre-wrap;
    
    @media print {
        white-space: pre-wrap;
    }
    
    .sourceCode {
        position: relative;
    }
    
    span.al { color: #ef2929; } /* Alert */
    span.an { color: #8f5902; font-weight: bold; font-style: italic; } /* Annotation */
    span.at { color: #c4a000; } /* Attribute */
    span.bn { color: #0000cf; } /* BaseN */
    span.cf { color: #204a87; font-weight: bold; } /* ControlFlow */
    span.ch { color: #4e9a06; } /* Char */
    span.cn { color: #000000; } /* Constant */
    span.co { color: #8f5902; font-style: italic; } /* Comment */
    span.cv { color: #8f5902; font-weight: bold; font-style: italic; } /* CommentVar */
    span.do { color: #8f5902; font-weight: bold; font-style: italic; } /* Documentation */
    span.dt { color: #204a87; } /* DataType */
    span.dv { color: #0000cf; } /* DecVal */
    span.er { color: #a40000; font-weight: bold; } /* Error */
    span.fl { color: #0000cf; } /* Float */
    span.fu { color: #000000; } /* Function */
    span.in { color: #8f5902; font-weight: bold; font-style: italic; } /* Information */
    span.kw { color: #204a87; font-weight: bold; } /* Keyword */
    span.op { color: #ce5c00; font-weight: bold; } /* Operator */
    span.ot { color: #8f5902; } /* Other */
    span.pp { color: #8f5902; font-style: italic; } /* Preprocessor */
    span.sc { color: #000000; } /* SpecialChar */
    span.ss { color: #4e9a06; } /* SpecialString */
    span.st { color: #4e9a06; } /* String */
    span.va { color: #000000; } /* Variable */
    span.vs { color: #4e9a06; } /* VerbatimString */
    span.wa { color: #8f5902; font-weight: bold; font-style: italic; } /* Warning */
}

div.highlight {
    overflow: auto;
}

// Build in style
/* Background               */ .chroma { background-color: $background;
                                         padding: 5px 10px; }
/* Other                    */ .chroma .x { color: #000000 }
/* Error                    */ .chroma .err { color: #a40000 }
/* LineTableTD              */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0;
                                               border: 0; }
/* LineTable                */ .chroma .lntable { border-spacing: 0; padding: 0;
                                                  margin: 0; border: 0; width: auto;
                                                  overflow: auto; display: block; }
/* LineHighlight            */ .chroma .hl { display: block; width: 100%;
                                             background-color: #ffffcc }
/* LineNumbersTable         */ .chroma .lnt { margin-right: 0.4em;
                                              padding: 0 0.4em 0 0.4em; }
/* LineNumbers              */ .chroma .ln { margin-right: 0.4em;
                                             padding: 0 0.4em 0 0.4em; }
/* Keyword                  */ .chroma .k   { color: #204a87; font-weight: bold }
/* KeywordConstant          */ .chroma .kc  { color: #204a87; font-weight: bold }
/* KeywordDeclaration       */ .chroma .kd  { color: #204a87; font-weight: bold }
/* KeywordNamespace         */ .chroma .kn  { color: #204a87; font-weight: bold }
/* KeywordPseudo            */ .chroma .kp  { color: #204a87; font-weight: bold }
/* KeywordReserved          */ .chroma .kr  { color: #204a87; font-weight: bold }
/* KeywordType              */ .chroma .kt  { color: #204a87; }
/* Name                     */ .chroma .n   { color: #000000 }
/* NameAttribute            */ .chroma .na  { color: #c4a000 }
/* NameBuiltin              */ .chroma .nb  { color: #204a87 }
/* NameBuiltinPseudo        */ .chroma .bp  { color: #3465a4 }
/* NameClass                */ .chroma .nc  { color: #000000 }
/* NameConstant             */ .chroma .no  { color: #000000 }
/* NameDecorator            */ .chroma .nd  { color: #5c35cc; font-weight: bold }
/* NameEntity               */ .chroma .ni  { color: #ce5c00 }
/* NameException            */ .chroma .ne  { color: #cc0000; font-weight: bold }
/* NameFunction             */ .chroma .nf  { color: #000000 }
/* NameFunctionMagic        */ .chroma .fm  { color: #000000 }
/* NameLabel                */ .chroma .nl  { color: #f57900 }
/* NameNamespace            */ .chroma .nn  { color: #000000 }
/* NameOther                */ .chroma .nx  { color: #000000 }
/* NameProperty             */ .chroma .py  { color: #000000 }
/* NameTag                  */ .chroma .nt  { color: #204a87; font-weight: bold }
/* NameVariable             */ .chroma .nv  { color: #000000 }
/* NameVariableClass        */ .chroma .vc  { color: #000000 }
/* NameVariableGlobal       */ .chroma .vg  { color: #000000 }
/* NameVariableInstance     */ .chroma .vi  { color: #000000 }
/* NameVariableMagic        */ .chroma .vm  { color: #000000 }
/* Literal                  */ .chroma .l   { color: #000000 }
/* LiteralDate              */ .chroma .ld  { color: #000000 }
/* LiteralString            */ .chroma .s   { color: #4e9a06 }
/* LiteralStringAffix       */ .chroma .sa  { color: #4e9a06 }
/* LiteralStringBacktick    */ .chroma .sb  { color: #4e9a06 }
/* LiteralStringChar        */ .chroma .sc  { color: #4e9a06 }
/* LiteralStringDelimiter   */ .chroma .dl  { color: #4e9a06 }
/* LiteralStringDoc         */ .chroma .sd  { color: #8f5902; font-style: italic }
/* LiteralStringDouble      */ .chroma .s2  { color: #4e9a06 }
/* LiteralStringEscape      */ .chroma .se  { color: #4e9a06 }
/* LiteralStringHeredoc     */ .chroma .sh  { color: #4e9a06 }
/* LiteralStringInterpol    */ .chroma .si  { color: #4e9a06 }
/* LiteralStringOther       */ .chroma .sx  { color: #4e9a06 }
/* LiteralStringRegex       */ .chroma .sr  { color: #4e9a06 }
/* LiteralStringSingle      */ .chroma .s1  { color: #4e9a06 }
/* LiteralStringSymbol      */ .chroma .ss  { color: #4e9a06 }
/* LiteralNumber            */ .chroma .m   { color: #0000cf; }
/* LiteralNumberBin         */ .chroma .mb  { color: #0000cf; }
/* LiteralNumberFloat       */ .chroma .mf  { color: #0000cf; }
/* LiteralNumberHex         */ .chroma .mh  { color: #0000cf; }
/* LiteralNumberInteger     */ .chroma .mi  { color: #0000cf; }
/* LiteralNumberIntegerLong */ .chroma .il  { color: #0000cf; }
/* LiteralNumberOct         */ .chroma .mo  { color: #0000cf; }
/* Operator                 */ .chroma .o   { color: #ce5c00; }
/* OperatorWord             */ .chroma .ow  { color: #204a87; }
/* Punctuation              */ .chroma .p   { color: #000000; }
/* Comment                  */ .chroma .c   { color: #8f5902; font-style: italic }
/* CommentHashbang          */ .chroma .ch  { color: #8f5902; font-style: italic }
/* CommentMultiline         */ .chroma .cm  { color: #8f5902; font-style: italic }
/* CommentSingle            */ .chroma .c1  { color: #8f5902; font-style: italic }
/* CommentSpecial           */ .chroma .cs  { color: #8f5902; font-style: italic }
/* CommentPreproc           */ .chroma .cp  { color: #8f5902; font-style: italic }
/* CommentPreprocFile       */ .chroma .cpf { color: #8f5902; font-style: italic }
/* Generic                  */ .chroma .g   { color: #000000 }
/* GenericDeleted           */ .chroma .gd  { color: #a40000 }
/* GenericEmph              */ .chroma .ge  { color: #000000; font-style: italic }
/* GenericError             */ .chroma .gr  { color: #ef2929 }
/* GenericHeading           */ .chroma .gh  { color: #000080; font-weight: bold }
/* GenericInserted          */ .chroma .gi  { color: #00a000 }
/* GenericOutput            */ .chroma .go  { color: #000000; font-style: italic }
/* GenericPrompt            */ .chroma .gp  { color: #8f5902 }
/* GenericStrong            */ .chroma .gs  { color: #000000; font-weight: bold }
/* GenericSubheading        */ .chroma .gu  { color: #800080; font-weight: bold }
/* GenericTraceback         */ .chroma .gt  { color: #a40000; font-weight: bold }
/* GenericUnderline         */ .chroma .gl  { color: #000000; text-decoration: underline }
/* TextWhitespace           */ .chroma .w   { color: #f8f8f8; text-decoration: underline }
