code {
  font-family: $mono-font;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt" 1;
  font-size: 0.9em;
  overflow: auto;
  white-space: pre-wrap;
  @if $pygmentsUseClasses {
    color: $code-inline-color;
  }

  @media print {
    white-space: pre-wrap;
  }
}

div.highlight {
  overflow: auto;

  pre {
    padding: 5px 10px;
  }
}

@if $pygmentsUseClasses {
  div.highlight code {
    color: $code-text-color;
    font-style: normal;
    font-size: 0.82em;
  }

  .chroma {
    background-color: $code-bg-color;
    color: $code-text-color;

    // Error
    .chroma .err {
      font-weight: bold;
      color: $code-highlight-color;
    }

    // LineTableTD
    .chroma .lntd {
      vertical-align: top;
      padding: 0;
      margin: 0;
      border: 0;
    }

    // LineTable
    .chroma .lntable {
      border-spacing: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }

    // LineNumbersTable
    .chroma .lnt {
      margin-right: 0.4em;
      padding: 0 0.4em 0 0.4em;
    }

    // LineNumbers
    .chroma .ln {
      margin-right: 0.4em;
      padding: 0 0.4em 0 0.4em;
    }

    // Keywords
    .k, .kc, .kn, .kp, .kr {
      font-weight: bold;
      color: $code-highlight-color;
    }
    // KeywordType
    .kt { color: $code-highlight-color; }

    // Names
    .na, .nc, .no, .nd, .ne, .nx, .nt {
      color: $code-highlight-color;
    }
    // NameConstant
    .no { color: $code-highlight-color; }
    // NameFunction
    .nf { color: inherit; }

    // Literal
    .l { color: $hover-color }

    // Strings
    .s, .ld, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
      color: $hover-color;
    }

    // Numbers
    .m, .mb, .mf, .mh, .mi, .il, .mo {
      color: $hover-color;
    }

    // Operators
    .o, .ow {
      color: $code-highlight-color;
    }

    // Comments
    .c, .ch, .cm, .c1, .cs, .cp, .cpf {
      font-style: italic
    }

    // GenericDeleted
    .gd { color: $hover-color }
    // GenericEmph
    .ge { font-style: italic }
    // GenericInserted
    .gi { color: $hover-color }
    // GenericStrong
    .gs { font-weight: bold }
    // GenericSubheading
    .gu { color: $code-highlight-color; }
  }
}
