// Style
$base-font-size: {{ .Param "style.base-font-size" }};
$main-color: {{ .Param "style.main-color" }};
$dark-text-color: {{ .Param "style.dark-text-color" }};
$light-text-color: {{ .Param "style.light-text-color" }};
$bg-color: {{ .Param "style.bg-color" }};
$accent-color: {{ .Param "style.accent-color" }};
$text-marked-color: {{ .Param "style.text-marked-color" }};
$button-style: {{ .Param "style.button-style" }};
$pagination-style: {{ .Param "style.pagination-style" }};
$simple-footer: {{ .Param "style.simple-footer" }};
$pygmentsUseClasses: {{ .Param "style.pygmentsUseClasses" }};

@import 'functions';
@import 'variables';
@import 'mixins';
@import 'basic';
@import 'site_elements';
@import 'code';
